<!doctype html>

<head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="stylesheets/styleIndex.css">
    <link rel="stylesheet" href="stylesheets/styleHistory.css">


    <title>GoWentGo</title>
</head>

<body>
    <!-- nav start -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">
             SIMILAN
        </a>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="mr-auto"></div>
            <ul class="navbar-nav my-2 my-lg-0">
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav">
                        <a href="/index" class="nav-item nav-link active">หน้าแรก</a>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-display="static" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">สถานที่ท่องเที่ยว</a>
                            <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/kohHuYong">เกาะหูยง </a>
                                <a class="dropdown-item" href="/kohPaYoung">เกาะปายัง </a>
                                <a class="dropdown-item" href="/kohPaYun">เกาะปาหยัน</a>
                                <a class="dropdown-item" href="/kohMeang">เกาะเมียง</a>
                                <a class="dropdown-item" href="/kohPaYoo">เกาะปายู</a>
                                <a class="dropdown-item" href="/kohHin">เกาะหินปูซาร์ </a>
                                <a class="dropdown-item" href="/kohSimilan">เกาะสิมิลัน</a>
                                <a class="dropdown-item" href="/kohBagoo">เกาะบางู</a>
                                <a class="dropdown-item" href="/kohHa">เกาะห้า</a>
                                <a class="dropdown-item" href="/kohTachai">เกาะตาชัย</a>
                                <a class="dropdown-item" href="/kohBon">เกาะบอน</a>
                            </div>
                        </li>
                        <a href="/travel" class="nav-item nav-link">การเดินทาง</a>

                        <li class="nav-item dropdown ml-auto">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-display="static" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">แนะนำอุทยาน</a>
                            <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/history">เกี่ยวกับอุทยาน </a>
                                <a class="dropdown-item" href="/locate">ที่ตั้งและแผนที่</a>
                            </div>
                        </li>
                    </div>

                    <li class="nav-item dropdown ml-auto">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-display="static" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Profile</a>
                        <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/login">เข้าสู่ระบบ</a>
                            <a class="dropdown-item" href="#">ออกจากระบบ</a>
                        </div>
                    </li>
            </ul>
            </div>
    </nav>
    </div>
    </nav>
    <!-- nav end -->
    <!-- Slider start -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="images/img01.jpg" alt="First slide">
                <div class="carousel-caption">
                    <h5>โลกใต้น้ำอันอุดมสมบูรณ์</h5>
                    <p>น้ำทะเลสวยใส หาดทรายเนื้อเนียนละเอียด</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="images/img02.jpg" alt="Second slide">
                <div class="carousel-caption">
                    <h5>1 ใน 10 เกาะงามของโลก</h5>
                    <p>ประกอบด้วยเกาะน้อยใหญ่จำนวน 9 เกาะ </p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="images/img03.jpg" alt="Third slide">
                <div class="carousel-caption">
                    <h5>สวรรค์ของนักดำน้ำ</h5>
                    <p> น้ำทะเลสีฟ้าใสราวคริสตัล แนวปะการังที่อุดมไปด้วยปลาทะเลหลากสายพันธุ์</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- Slider end -->

    <!-- about -->
    <div class="about">
        <div class="container">
            <h1>หมู่เกาะสิมิลัน</h1>
            <div class="row">
                <div class="col">

                    <p>สิมิลัน เป็นหมู่เกาะเล็กๆ ในทะเลอันดามัน ตั้งอยู่ที่ตำบลเกาะพระทอง อำเภอคุระบุรี จ.พังงา อยู่ห่างจากทางเหนือของภูเก็ตประมาณ 100 กิโลเมตร <br> ขึ้นชื่อเรื่องน้ำใส ทรายสวยละเอียด และมีสัญลักษณ์ท้องทะเลอย่างหินเรือใบ เป็นหมู่เกาะที่มีชื่อเสียงโด่งดังกระทั่งได้รับการยกย่องจากนิตยสารสกินไดวิ่งของอเมริกา<br>                        ว่าเป็นหมู่เกาะที่มีความสวยงามทั้งบนบกและใต้น้ำติดอันดับความงามเป็น 1 ใน 10 ของโลก คืออีกหนึ่งจุดหมายปลายทางในฝันของผู้ที่ชื่นชอบความงามแห่งท้องทะเล<br></p>

                    <p>“สิมิลัน” เป็นภาษามลายู แปลว่า “เก้า” เน่ื่องจากประกอบไปด้วยเกาะใหญ่น้อย 9 เกาะด้วยกัน โดยเรียงตัวตามแนวทิศเหนือไปทิศใต้ ได้แก่ เกาะบอน เกาะบางู เกาะสิมิลัน เกาะปายู เกาะห้า เกาะเมียง เกาะปาหยัน เกาะปายัง และเกาะหูยง</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Intro -->
    <div class="columns-bg">
        <section id="introR" class="tm-section-introR">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 offset-sm-0 col-md-6 offset-md-6">
                        <div class="tm-site-name-container">
                            <div class="similanRight">
                                <h2> ช่วงเวลาที่เหมาะสม<br>สำหรับการท่องเที่ยว</h2><br>
                                <p> ในแต่ละปีเกาะสิมิลันจะเปิดให้นักท่องเที่ยวสามารถเข้าชมได้เพียง 6 เดือนเท่านั้น โดยจะเปิดให้บริการตั้งแต่ 15 ตุลาคม จนถึง 15 พฤษภาคมของอีกปี เพราะหลังจากนั้นจะเป็นช่วงมรสุม คลื่นลมแรงซึ่งอาจไม่ปลอดภัยต่อการเดินทางของนักท่องเที่ยว
                                    และเป็นการปิดเพื่อให้ธรรมชาติได้พักผ่อนและฟื้นตัวด้วย </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section id="introL" class="tm-section-introL">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="tm-section-text-container">
                            <i class="tm-text-white">
                                 <p>นักท่องเที่ยวที่ต้องการเดินทางไปเที่ยวสิมิลันควรวางแผนตั้งแต่เนิ่นๆ เนื่องจากในแต่ละปีนั้นมีนักท่องเที่ยวต้องการเดินทางไปเป็นจำนวนมาก ทั้งนี้ เดือนมีนาคมเป็นช่วงที่ดีที่สุดสำหรับการเดินทางกระแสลมและคลื่นไม่แรงมากน้ำทะเลใส</p> 
                                  
                            </i>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- fromBkk-->
        <section id="fromBKK">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-lg-6 tm-section-image-container tm-img-left-container">
                        <img src="images/h5.jpg" alt="Image" class="img-fluid" />
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <div class="tm-section-text-container-2">
                            <h2 class="tm-text-primary tm-section-title-mb tm-sm-bg-white-alpha">
                                ข้อมูลอื่นๆ ที่ควรรู้
                            </h2><br>
                            <div class="tm-text-gray">
                                <ul>
                                    <li>อุทยานฯ มีบริการอาหาร บังกะโล บ้านพัก 4 หลัง <br>(บ้านใช้ไฟปั่น 18.00 น. - 6.00 น.)</li><br>
                                    <li>เต็นท์สำหรับนักท่องเที่ยว <br>(เต็นท์หลังละ 100 บาท สำหรับ 2 คน และหลังละ 200 บาท สำหรับ 4 คน) หากนำเต็นท์มาเองต้องเสียค่ากางเต็นท์ 10 บาท/ คืน</li><br>
                                    <li>ร้านค้าสวัสดิการ ของที่ระลึก (น้ำดื่ม กาแฟ ขนม) <br>เปิดให้บริการทุกวันเวลา 07.00 น. - 20.00 น. </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- from phuket -->
        <section id="fromPhuket">
            <div class="container-fluid">
                <div class="row flex-column-reverse flex-lg-row">
                    <div class="col-md-12 col-lg-6 tm-text-left-container">
                        <div class="tm-section-text-container-3 tm-bg-white-alpha h-100">
                            <h2>ลักษณะภูมิประเทศ</h2><br>
                            <p>อุทยานแห่งชาติหมู่เกาะสิมิลัน ประกอบด้วยพื้นดินที่เป็นเกาะต่างๆ เขาหินแกรนิตสูงชัน หาดทราย โขดหิน ลักษณะรูปร่างต่างๆ ชายฝั่งของเกาะต่างๆ มีลักษณะเว้าแหว่งไม่เป็นระเบียบ เนื่องจากตั้งอยู่ในส่วนทะเลนอก <br><br> รับอิทธิพลจากการกัดเซาะของคลื่นทะเลโดยตรงเรียงตัวตามแนวทิศเหนือใต้
                                บริเวณไหล่ทวีปติดชายฝั่งตะวันตกของจังหวัดพังงาและประเทศพม่า คู่ขนานกับแนวเกาะนิโคบาร์ ที่เป็นไหล่ทวีปของประเทศอินเดีย <br><br> ตามชายหาดหรือสันทรายจะไม่มีดินเลนให้เห็นจึงเป็นชายหาดที่ขาวสะอาด สวยงาม ทรายมีขนาดเล็กละเอียด
                                ส่วนที่เป็นยอดเขาจะเป็นเขาโดดสูงชัน ยอดเขาสูงสุดมีความสูง 244 เมตร จากระดับน้ำทะเล บางเกาะมีลักษณะแบนราบล้อมรอบด้วยเนินทรายและแนวปะการัง</p>

                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 tm-section-image-container tm-img-right-container">
                        <img src="images/h7.jpg" alt="Image" class="img-fluid tm-img-right" />
                    </div>
                </div>
            </div>
        </section>

        <!-- addition -->
        <section id="addition">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-lg-6 tm-section-image-container tm-img-left-container">
                        <img src="images/h2.jpg" alt="Image" class="img-fluid" />
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <div class="tm-section-text-container-2">
                            <h3>
                                ลักษณะภูมิอากาศ
                            </h3><br>
                            <p>นี้ไม่ฤดูร้อนเริ่มตั้งแต่กลางเดือนกุมภาพันธ์ - เดือนพฤษภาคม ฤดูฝนเริ่มตั้งแต่กลางเดือนพฤษภาคม - เดือนตุลาคม อุณหภูมิเฉลี่ยตลอดปี 27 องศาเซลเซียส ความชื้นสัมพัทธ์อยู่ในเกณฑ์สูงเฉลี่ยตลอดปีประมาณ 83 % ปริมาณน้ำฝนแต่ละปีเฉลี่ย
                                3,560 มิลลิเมตร ปริมาณการระเหยของน้ำแต่ละปีเฉลี่ย 1,708 มิลลิเมตร ช่วงฤดูฝนเป็นช่วงที่ได้รับอิทธิพลของลมมรสุมตะวันตกเฉียงใต้ นอกจากจะทำให้ฝนตกหนักแล้ว ท้องทะเลยังมีคลื่นลมแรง</p>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </section>



    <!-- Footer start-->
    <div class="page-footer">
        <div class="container">

            <div class="row">

                <div class="col">
                    <h6>Go Went Go</h6>
                    <p>อุทยานแห่งชาติหมู่เกาะสิมิลัน 93 หมู่ที่ 5 ตำบลลำแก่น อำเภอท้ายเหมือง จังหวัดพังงา 82210</p>
                </div>

                <div class="col">
                    <h6 class="">CONTACT</h6>
                    <p>
                        <i class="fas fa-home mr-3"></i> โทรศัพท์ : 0 7645 3272</p>
                    <p>
                        <i class="fas fa-envelope mr-3"></i> โทรสาร : 0 7645 3273</p>
                    <p>
                        <i class="fas fa-phone mr-3"></i> E-mail : np_similan@hotmail.com</p>

                </div>
            </div>

            <div class="col">
                <p class="text-center text-md-left">© 2020 Copyright:
                    <a href="https://mdbootstrap.com/">
                        <strong> MDBootstrap.com</strong>
                    </a>
                </p>
            </div>

            <div class="col">
                <div class="social">
                    <ul class="list-unstyled list-inline">

                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>

                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>

                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                        </li>

                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer end -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>