<!doctype html>

<head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="stylesheets/styleIndex.css">
    <link rel="stylesheet" href="stylesheets/styleNav.css">

    <title>GoWentGo</title>
</head>

<body>
    <!-- nav start -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">
             SIMILAN
        </a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="mr-auto"></div>
            <ul class="navbar-nav my-2 my-lg-0">
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav">
                        <a href="/index" class="nav-item nav-link active">หน้าแรก</a>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-display="static" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">สถานที่ท่องเที่ยว</a>
                            <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/kohHuYong">เกาะหูยง </a>
                                <a class="dropdown-item" href="/kohPaYoung">เกาะปายัง </a>
                                <a class="dropdown-item" href="/kohPaYun">เกาะปาหยัน</a>
                                <a class="dropdown-item" href="/kohMeang">เกาะเมียง</a>
                                <a class="dropdown-item" href="/kohPaYoo">เกาะปายู</a>
                                <a class="dropdown-item" href="/kohHin">เกาะหินปูซาร์ </a>
                                <a class="dropdown-item" href="/kohSimilan">เกาะสิมิลัน</a>
                                <a class="dropdown-item" href="/kohBagoo">เกาะบางู</a>
                                <a class="dropdown-item" href="/kohHa">เกาะห้า</a>
                                <a class="dropdown-item" href="/kohTachai">เกาะตาชัย</a>
                                <a class="dropdown-item" href="/kohBon">เกาะบอน</a>
                            </div>
                        </li>
                        <a href="/travel" class="nav-item nav-link">การเดินทาง</a>

                        <li class="nav-item dropdown ml-auto">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-display="static" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">แนะนำอุทยาน</a>
                            <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/history">เกี่ยวกับอุทยาน </a>
                                <a class="dropdown-item" href="/locate">ที่ตั้งและแผนที่</a>
                            </div>
                        </li>
                    </div>

                    <li class="nav-item dropdown ml-auto">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-display="static" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Profile</a>
                        <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/login">เข้าสู่ระบบ</a>
                            <a class="dropdown-item" href="#">ออกจากระบบ</a>
                        </div>
                    </li>
            </ul>
            </div>
    </nav>
    </div>
    </nav>
    <!-- nav end -->

    <!-- Slider start -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="images/img01.jpg" alt="First slide">
                <div class="carousel-caption">
                    <h5>โลกใต้น้ำอันอุดมสมบูรณ์</h5>
                    <p>น้ำทะเลสวยใส หาดทรายเนื้อเนียนละเอียด</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="images/img02.jpg" alt="Second slide">
                <div class="carousel-caption">
                    <h5>1 ใน 10 เกาะงามของโลก</h5>
                    <p>ประกอบด้วยเกาะน้อยใหญ่จำนวน 9 เกาะ </p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="images/img03.jpg" alt="Third slide">
                <div class="carousel-caption">
                    <h5>สวรรค์ของนักดำน้ำ</h5>
                    <p> น้ำทะเลสีฟ้าใสราวคริสตัล แนวปะการังที่อุดมไปด้วยปลาทะเลหลากสายพันธุ์</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- Slider end -->

    <!-- Recomended Place start -->
    <div class="places">
        <div class="container">
            <h1>สถานที่ท่องเที่ยวแนะนำ</h1>
            <div class="row">
                <div class="col">
                    <div class="card" style="width: 15rem;">
                        <img class="card-img-top" src="images/kohBon.JPG" alt="Place Image">
                        <div class="card-body">
                            <h5 class="card-title">เกาะบอน</h5>
                            <p class="card-text"> เกาะนี้ไม่มีชายหาดแต่เป็นสวรรค์ของคนรักการดำน้ำลึก เพราะมีแนวปะการังน้ำลึกที่สมบูรณ์และสวยงาม</p>
                            <a href="/kohBon" class="btn btn-primary">ดูเพิ่มเติม</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card" style="width: 15rem;">
                        <img class="card-img-top" src="images/kohha.JPG" alt="Place Image">
                        <div class="card-body">
                            <h5 class="card-title">เกาะห้า</h5>
                            <p class="card-text">เกาะหินลูกเล็กๆ ที่ไม่มีสิ่งปลูกสร้างใดๆ ทว่าเป็นที่จอดเรือหลบลมที่ดีรายล้อมด้วยธรรมชาติและปะการังมากมาย </p>
                            <a href="/kohHa" class="btn btn-primary">ดูเพิ่มเติม</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card" style="width: 15rem;">
                        <img class="card-img-top" src="images/kohpayou.JPG" alt="Place Image">
                        <div class="card-body">
                            <h5 class="card-title">เกาะบางู</h5>
                            <p class="card-text">เกาะรูปหัวกะโหลก เต็มไปด้วยปะการัง หุบเหวลึก ปลาทะเล กองหินคริสต์มาสพอยท์หลากหลายสีสรรค์สวยงาม</p>
                            <a href="/kohBagoo" class="btn btn-primary">ดูเพิ่มเติม</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card" style="width: 15rem;">
                        <img class="card-img-top" src="images/kohtachai.JPG" alt="Place Image">
                        <div class="card-body">
                            <h5 class="card-title">เกาะตาชัย</h5>
                            <p class="card-text">มีหาดทรายขาวสะอาดสวยงามและลานกางเต็นท์ รวมถึงมีจุดดำน้ำตื้นบริเวณรอบๆเกาะ ที่สามารถพบฉลามวาฬได้บ่อย</p>
                            <a href="/kohTachai" class="btn btn-primary">ดูเพิ่มเติม</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Recomended Place end -->

    <!-- covid Place start -->
    <div class="updateCovid">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>อัพเดตสถานการณ์โควิทใน จ. พังงา</p>
                    <div class="card text-white bg-secondary mb-3" style="width: 32rem; height: 22rem;">
                        <div class="card-header"></div>
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <p id="show"></p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <p> เลือกจังหวัด</p>
                    <iframe class="map" src="https://covid19.th-stat.com/th/share/map"></iframe>
                </div>

            </div>
        </div>
    </div>
    </div>
    <!-- covid Place end -->

    <!-- Popular Place start -->
    <div class="projects">
        <div class="container">
            <h1>กิจกรรมแนะนำ</h1>
            <div class="row">
                <div class="col">
                    <a href="/kohMeang">
                        <figure class="figure">
                            <img src="images/ac01.jpg" class="rounded">
                            <figcaption class="figure-caption">
                                ชมวิวพระอาทิตย์ตกบนเกาะเมี่ยง
                            </figcaption>
                        </figure>
                    </a>
                </div>

                <div class="col">
                    <a href="/kohHuYong">
                        <figure class="figure">
                            <img src="images/ac02.jpg" class="rounded">
                            <figcaption class="figure-caption">
                                ดำน้ำชมปะการังที่เกาะหูยง
                            </figcaption>
                        </figure>
                    </a>
                </div>

                <div class="col">
                    <a href="/kohSimilan">
                        <figure class="figure">
                            <img src="images/ac03.jpg" class="rounded">
                            <figcaption class="figure-caption">
                                ศึกษาธรรมชาติที่อ่าววงช้าง
                            </figcaption>
                        </figure>
                    </a>
                </div>

                <div class="row">
                    <div class="col">
                        <a href="/kohHa">
                            <figure class="figure">
                                <img src="images/ac04.jpg" class="rounded">
                                <figcaption class="figure-caption">
                                    ดำน้ำลึกบริเวณเกาะเก้า
                                </figcaption>
                            </figure>
                        </a>
                    </div>

                    <div class="col">
                        <a href="/kohBagoo">
                            <figure class="figure">
                                <img src="images/ac05.jpg" class="rounded">
                                <figcaption class="figure-caption">
                                    เล่นน้ำ สน๊อกเกิ้ลที่เกาะบางู
                                </figcaption>
                            </figure>
                        </a>
                    </div>

                    <div class="col">
                        <a href="/kohMeang">
                            <figure class="figure">
                                <img src="images/ac06.jpg" class="rounded">
                                <figcaption class="figure-caption">
                                    กางเต๊นท์ที่เกาะสี่
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Popular Place end -->

    <!-- Footer start-->
    <div class="page-footer">
        <div class="container">

            <div class="row">

                <div class="col">
                    <h6>Go Went Go</h6>
                    <p>อุทยานแห่งชาติหมู่เกาะสิมิลัน 93 หมู่ที่ 5 ตำบลลำแก่น อำเภอท้ายเหมือง จังหวัดพังงา 82210</p>
                </div>

                <div class="col">
                    <h6 class="">CONTACT</h6>
                    <p>
                        <i class="fas fa-home mr-3"></i> โทรศัพท์ : 0 7645 3272</p>
                    <p>
                        <i class="fas fa-envelope mr-3"></i> โทรสาร : 0 7645 3273</p>
                    <p>
                        <i class="fas fa-phone mr-3"></i> E-mail : np_similan@hotmail.com</p>

                </div>
            </div>

            <div class="col">
                <p class="text-center text-md-left">© 2020 Copyright:
                    <a href="https://mdbootstrap.com/">
                        <strong> MDBootstrap.com</strong>
                    </a>
                </p>
            </div>

            <div class="col">
                <div class="social">
                    <ul class="list-unstyled list-inline">

                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>

                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>

                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                        </li>

                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>


    <!-- Footer end -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        document.getElementById("show").innerHTML = covid(); // 

        function covid() {
            var url = 'https://covid19.th-stat.com/api/open/cases'; // get ข้อมูลมา ผ่าน fetch
            fetch(url)
                .then((r) => r.json())
                .then(function(data) {
                    var x = 0; //จำนวนผู้ป่วย
                    var y = 0; //หายแล้ว
                    var z = 0; //กำลังรักษา
                    for (i = 0; i < data.Data.length; i++) { // วนลูปเท่ารอบ data ทั้งหมด
                        if (data.Data[i].ProvinceId == 34) {
                            //https://www.govesite.com/uploads/20150616220039Pp9UPrr/20180720112427_3_hDHa8tk.pdf อันนี้ลำดีบจังหวัด
                            //ลำดับที่34คือจังหวัด
                            x++;
                            if (data.Data[i].StatQuarantine == 0) { // เช็คว่า stateQuarantin หายแล้วกี่คน กำลังรักษากี่คน
                                y++;
                            } else z++;
                        }
                    }
                    $('#show').html("จำนวนผู้ป่วยทั้งหมดในจังหวัดพังงา : " + x + " คน" + "<br>" +
                        "รักษาหายแล้วจำนวน : " + y + " คน" + "<br>" +
                        "กำลังรักษาจำนวน : " + z + " คน");
                });
        };
    </script>
</body>

</html>