<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Register </title>

    <style>
        .login-form {
            width: 300px;
            margin: 0 auto;
            font-family: Arial, Helvetica, sans-serif;
        }
        
        .login-form {
            text-align: center;
            color: #44dd44;
            font-size: 24px;
            padding: 20px 0 20px 0;
        }
        
        .login-form input[type='name'],
        .login-form input[type='text'] {
            width: 100%;
            padding: 15px;
            border: 1px solid #ddd;
            margin-bottom: 15px;
            box-sizing: border-box;
        }
        
        .login-form input[type='Email'],
        .login-form input[type='text'] {
            width: 100%;
            padding: 15px;
            border: 1px solid #ddd;
            margin-bottom: 15px;
            box-sizing: border-box;
        }
        
        .login-form input[type='password'],
        .login-form input[type='text'] {
            width: 100%;
            padding: 15px;
            border: 1px solid #ddd;
            margin-bottom: 15px;
            box-sizing: border-box;
        }
        
        .login-form input[type="submit"] {
            width: 100%;
            padding: 15px;
            background-color: #535b63;
            border: 0;
            box-sizing: border-box;
            cursor: pointer;
            font-weight: bold;
            color: #fff;
        }
    </style>
</head>

<body>
    <div class="login-form">
        <h1> Register </h1>
        <form method='POST' action='/register'>
            <input type="text" name="Name" placeholder="Name" required>
            <!--  เวลา user กรอกข้อมูลไม่ครบก็ไม่สามารถกด submit ได้ -->
            <input type="text" name="Email" placeholder="Email" required>
            <input type="Password" name="Password" placeholder="Password" required>
            <input type="submit">
        </form>
    </div>
</body>

</html>